

body{
  background-color: #212529;
  font-family: monospace;
}

#lista{
 display: inline;

}

.displayed {
  display: block;
}

.notdisplayed {
  display: none;
}

h1{
  color: blueviolet;
}

input{
  color: blueviolet;
}


